# Compiled binaries and object files
*.o
*.exe
*.dll
*.so
*.dylib

# Certs
*.pem
*.pfx

# Build artifacts
*.a
*.lib

# Documentation
docs/

# Dependency files
*.d

# IDE and editor files
.vs/
*.swp
*.sdwoos
 *~
.idea/
nul

# OS files
.DS_Store
Thumbs.db
